<div class="container">
  <h1>Angular HttpClient</h1>

  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Название">
    </div>
    <button class="btn" (click)="Authorization()">Авторизироваться</button>
    <button class="btn" (click)="passData()">Получить данные</button>
    <button class="btn" (click)="refreshToken()">Обновить токен</button>
    <button class="btn" (click)="aboutUser()">О пользователе</button>
  </div>

  <hr>

  <div class="card">
    <p>
      <span></span>
      <span>
        <button class="btn btn-danger" (click)="helps()">Помощь</button>
        <button class="btn" (click)="exit()">Выйти</button>
      </span>
    </p>
  </div>
</div>



